//VARIABLES
$font-color-white: rgba(255, 255, 255, 0.719);

$light-background: rgba(87, 82, 73, 0.623);

$splitted-background: linear-gradient(150.9deg, rgba(255, 255, 255, 0.164) 0%, rgba(255, 255, 255, 0.623) 50%, rgba(99, 135, 156, 0.37) 50%),url();

//REUSABLE CODe

@import './portfolio';

.btn {
    width: 15%;
    height: 20%;
    border-radius: 20px;
    margin: 0 auto;
    background-color: $font-color-white;
    border: 1px solid rgba(0, 0, 0, 0.692);
    font-size: 1.6vw;
    cursor: pointer;
    transition: all .5s;
    outline: none;

    @media(max-width: 900px) {
        width: 25%;
        font-size: 2vw;
    }

    &:hover,
    &:active {
        background-color: rgba(124, 174, 197, 0.822) !important;
        transform: scale(1.1);

    &::after {
        content: '';
        // height: 7.5rem;
        // width: .1rem;
        background-color: rgba(124, 174, 197, 0.747);
        position: absolute;
        right: 6.7rem;
        top: 4.3rem;
        animation: pseudo 1s all;

     }
    }
}

@keyframes pseudo {
    0% {
        height: 0;
        width: 0;
    }
    100% {
        height: 7.5rem;
        width: .1rem;
    }
}

h1, p {
    text-align: center;
    font-size: 2.5vw;
    color: $font-color-white;
    font-weight: 400;
}


h1 {
    @media(max-width: 900px) {
        font-size: 3.7vw;
    }
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato";
    scroll-behavior: smooth;
    // cursor: none;
}



main {
    @import './cursor.scss';

    position: relative;
    background-image: url('/img/start.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    z-index: 4;
    cursor: none;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
       
        background-color: rgba(0, 0, 0, 0.685);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    // background-image: linear-gradient(to right, rgba(48, 45, 45, 0.219), rgba(12, 12, 12, 0.637));
    color: white;
    z-index: 10;
    position: relative;

    .logo {
        margin-left: 2.5rem;
        
        @media(max-width: 900px) {
            margin-left: 0px;
        }

        @media(max-width: 875px) {
           margin-left: 0px; 
        }

        @media(max-width: 630px) {
            padding: .1rem .5rem;
            font-size: 2vw;
        }
    }

    .navigation a {
        text-decoration: none;
        padding: 2.5rem;
        color: white;
        z-index: 3;

        @media(max-width: 875px) {
            padding: .5rem 1rem;
        }

        @media(max-width: 630px) {
            padding: .1rem .5rem;
            font-size: 2vw;
        }

        &:first-of-type {
            color: black;
            font-weight: bold;
        }

        &:hover {
           color: rgba(124, 174, 197, 0.822);
           font-weight: 700;
        }
    }
}

.img {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 48vh;
    
    @media(max-width: 900px) {
        
    }

    h1 {
        line-height: 1.7;

        span {
            font-size: 1.9vw;

            @media(max-width: 900px) {
                font-size: 2.7vw;
            }
        }
    }
    
}
.container2 {
    top: 8rem;
    left: 2rem;
    position: absolute;
    box-shadow: 0 .7rem 5rem rgba(0, 0, 0, 0.534);
    width: 55vw;
    height: 63vh;
    z-index: -5;
}

.container1 {
    // background-color: rgba(1, 32, 48, 0.356);
    top: 1rem;
    right: 1rem;
    position: absolute;
    box-shadow: 0 .7rem 5rem rgba(0, 0, 0, 0.692);
    width: 55vw;
    height: 63vh;
}

.intro {
    display: flex;
    justify-content: flex-start;
    margin-top: 10rem;
    margin-left: 10rem;
    padding: 2rem;
    // background-color: rgba(1, 23, 39, 0.479);
    box-shadow: 0 .7rem 5rem rgba(0, 0, 0, 0.692);
    width: 55vw;
    height: 63vh;

    &__text {
        // background-color: rgba(2, 2, 58, 0.411);
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
        flex-basis: 2%;

        &:nth-of-type(1) {
            // background-color: rgba(2, 2, 58, 0.411);
            height: 5rem;
            justify-content: center;
        }

       &:nth-of-type(2) {
           height: 10rem;
           justify-content: center;
       }

       &:nth-of-type(3) {
        height: 15rem;
        justify-content: center;
        }

        &:nth-of-type(4) {
            height: 20rem;
            justify-content: center;
            // margin-right: 10rem;
        }
        
        &:nth-of-type(5) {
            height: 25rem;
            justify-content: center;
        }

        &:nth-of-type(6) {
            height: 30rem;
            justify-content: center;
        }

        &:nth-of-type(7) {
            height: 35rem;
            justify-content: center;
        }

        &:nth-of-type(8) {
            height: 40rem;
            justify-content: center;
        }

        &:nth-of-type(9) {
            height: 45rem;
            justify-content: center;
        }
    }
}


.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 85%;
    margin: 0 auto;
    background-color: $light-background;
    box-shadow: 0 .7rem 4rem rgba(0, 0, 0, 0.534);
    padding-top: 10rem;
    padding-bottom: 10rem;
    line-height: 1.3;

    h1 {
        padding-bottom: 4rem;
        text-align: start;
        width: 75%;
        margin:0 auto;
        font-weight: 300;
    }

    p {
        font-size: 2vw;
        max-width: 57ch;
        margin: 0 auto;
        font-weight: 400;
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: transition;
        animation-duration: .7s;
        transition: all 1s;

        @keyframes transition {
            from {transform: translate(2%); opacity: .3;}
            to {transform: translate(0%); opacity: 1;}
        }
        

        @media(max-width: 900px) {
            font-size: 2.4vw;
        }
    }

    &__arows {
        display: flex;
        margin-left: auto;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        margin-top: 3rem;

        .fas {
            font-size: 2rem;
            color: $font-color-white;
        }
    }
}

.skills {
    margin-top: 6rem;
    // background-color: $light-background;
    box-shadow: 0 .7rem 5rem rgba(0, 0, 0, 0.692);
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6rem;
    padding-bottom: 6rem;
    

    display: flex;
    align-items: center;
    flex-direction: column;

    &__items {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-top: 3rem;

        @media(max-width: 875px) {
            width: 93%;
        }
    }

    h1 {
        width: 90%;
        font-weight: 300;
        text-align: center;
        text-align: end;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        color: $font-color-white;
        font-size: 1.3vw;
        font-weight: 700;
        border-radius: 10px;
        margin-top: 1.5rem;
        height: 1rem;
        width: 80%;
        padding: 1.8rem;
        border: 1px solid rgba(255, 255, 255, 0.37);
        transition: all .4s;

        @media(max-width: 875px) {
            padding: 1.5rem;
            font-size: 1.5vw;
        }

        &:hover {
            transform: translateX(10%);
        }
    }

    &__item:nth-of-type(1) {
        background-color: rgba(197, 131, 131, 0.493);
        width: 60%;

        &:hover {
            background-color: rgba(197, 131, 131, 0.795);
        }
    }

    &__item:nth-of-type(2) {
        background-color: rgba(160, 221, 240, 0.5);
        width: 75%;

        &:hover {
            background-color: rgba(160, 221, 240, 0.774);
        }
    }

    &__item:nth-of-type(3) {
        background-color: rgba(0, 0, 0, 0.493);
        width: 80%;
        
        &:hover {
            background-color: rgba(0, 0, 0, 0.74);
        }
    }

    &__item:nth-of-type(4) {
        background-color: rgba(231, 152, 116, 0.479);
        width: 35%;

        &:hover {
            background-color: rgba(231, 152, 116, 0.753);
        }
    }

    &__item:nth-of-type(5) {
        background-color: #773364a6;
        width: 15%;

        &:hover {
            background-color: #773364e0;
        }
    }

    &__item:nth-of-type(6) {
        background-color: rgba(183, 189, 193, 0.473);
        width: 60%;

        &:hover {
            background-color: rgba(183, 189, 193, 0.705);
        }
    }

    &__item:nth-of-type(7) {
        background-color: #466369be;
        width: 25%;

        &:hover {
            background-color: #466369;
        }
    }
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 .7rem 5rem rgba(0, 0, 0, 0.692);
    height: 100vh;
    margin-top: 6rem;
    padding: 6rem 0;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: $light-background;

    & h1:nth-of-type(1) {
        font-size: 2.5rem;
        font-weight: 300;
    }

    &__icons {
        height: 60vh;
        display: flex;
        justify-content: space-between;
        padding-top: 5rem;

        @media(max-width: 900px) {
            height: 45vh;
        }

        @media(max-width: 630px) {
        }
    }

    .fas {
        font-size: 3vw;
        color: $font-color-white;
        align-self: center;
        border-radius: 10px;
        width: 5%;
        text-align: center;
        
        &:hover {
            background-color: rgba(0, 0, 0, 0.637);
        }
    }

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 2s;
        transition: all 1s;
      }
      
      @-webkit-keyframes fade {
        from {opacity: .2} 
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .2} 
        to {opacity: 1}
    }

    .mySlides {
        display: flex;
        flex-direction: column;
        width: 50%;
        text-align: center;
    }

    &__item {

        height: 90%;
        width: 90%;
        outline: 1px solid black;
        opacity: .7;

        @media(max-width: 630px) {
            width: 100%;
        }

        &:hover {
            opacity: 1;
        }
    }

    .text {
        font-size: 2vw;
        font-weight: 700;

        @media(max-width: 630px) {
            font-size: 3vw;
        }
    }

    &__dots {
        text-align: center;
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
   
}


.testimony {
    height: 100vh;
    margin-top: 6rem;
    padding: 6rem 0;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    // background-color: $light-background;
    box-shadow: 0 .7rem 5rem rgba(0, 0, 0, 0.692);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        font-weight: 300;
    }

    &__container {
        background-color: rgba(231, 152, 116, 0.479);
        width: 60%;
        height: 27vh;
        margin: 0 auto;
        clip-path: polygon(6% 0%, 100% 0%, 94% 100%, 0% 100%);
        color: $font-color-white;
        font-size: 1.3vw;


        @media(max-width: 900px) {
            width: 75%;
            justify-content: space-evenly;
        }

        @media(max-width: 875px) {
            width: 85%;
         }

        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &:hover {
            background-color: rgba(231, 152, 116, 0.733);
            color: white;
        }

        img {
            height: 10rem;
            width: 10rem;
            border-radius: 50%;
            opacity: 1;

            @media(max-width: 875px) {
                height: 7rem;
                width: 7rem;
            }
        }

    }

    &__desc {
        max-width: 33ch;
        // margin-left: auto;
        font-size: 1.2vw;
        text-align: center;
        margin-left: 2.5rem;

        @media(max-width: 900px) {
            max-width: 40ch;
        }

        @media(max-width: 875px) {
            font-size: 1.6vw;
         }

        h3 {
            margin-bottom: 1rem;
            
            @media(max-width: 900px) {
                font-size: 2vw;
            }
        }

        span {
            font-weight: 300;

            @media(max-width: 900px) {
                font-size: 1.8vw;
            }
        }
    }
}

.stupid {
    height: 100vh;
    margin-top: 6rem;
    padding: 6rem 0;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 .7rem 5rem rgba(0, 0, 0, 0.692);


    display: grid;
    grid-template-rows: 1fr 3fr 6fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 15%;

    grid-template-areas: "head head head ."
                         "box-1 box-2 box-3 side"
                         "main main main side"
                         "foot foot foot foot";

    grid-gap: 20px;

    .item {
        color: $font-color-white;
        font-size: 3rem;
        background-color: rgba(243, 209, 214, 0.637);
        text-align: center;
    }

    &__item5 {
        grid-area: side;
    }

    &__item2 {
        grid-area: box-1;
    }

    &__item3 {
        grid-area: box-2;
    }

    &__item4 {
        grid-area: box-3;
    }

    &__item6 {
        grid-column: main;
    }

    &__item1 {
        grid-area: head;
    }

    &__item7 {
        grid-area: foot;
    }

    // display: flex;
    // align-items: center;
    // justify-content: center;

    // h1 {
    //     // background-color: lightpink;
    //     width:40%;
    //     // background-color: lightpink;
    // }

    // h1:nth-of-type(2) {
    //     padding-top: 10rem;
    //     font-weight: 300;
    // }
}

.contact {
    height: 100vh;
    margin-top: 6rem;
    padding: 6rem 0;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: $light-background;
    box-shadow: 0 .7rem 5rem rgba(0, 0, 0, 0.692);

    display: flex;
    flex-direction: column;
    // justify-content: space-between;

    &__wrap {
        display: flex;
        margin-top: 4rem;
        justify-content: space-around;
    }
    
    &__form {
        display: flex;
        flex-direction: column;
        width: 60%;
        justify-content: center;

        input {
            margin-bottom: 1.5rem;
            // margin-left: 3rem;
            height: 2.5rem;
            background-color: #4960659c;
            border-radius: 4px;
            border: 1px solid $font-color-white;
            color: $font-color-white;
            font-weight: 400;
            font-size: 1.3vw;
            cursor: none;
            outline: none;

            &:focus {
                background-color: #496065;
            }

            &::placeholder {
                color: $font-color-white;
                font-size: 1.2vw;
                padding-left: 1.3rem;

                @media(max-width: 630px) {
                    font-size: 2vw;
                }
            }

            &:nth-of-type(5) {
                height: 7rem;
                background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.534) 0%, rgba(255, 255, 255, 0.623) 50%, #4960652d 50%),url();;
            }

            &:nth-of-type(6) {
                cursor: pointer;
                outline: none;

                @media(max-width: 630px) {
                    font-size: 2vw;
                }
            }
        }   
    }

    &__social {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .fab {
            font-size: 6vw;
            color: $font-color-white;

            @media(max-width: 630px) {
               font-size: 10vw;
            }
        }
    }
}

